<div>
    <input type="text" @keyup.enter="chat()" v-model="chatmessage" class="form-control" placeholder="Don't be lewd...">
    <ul id="chat">
        <li v-for="message in messages">{{message}}</li>
    </ul>
</div>
